<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tourism</title>
    <link rel="stylesheet" href="../css/worx.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Rubik&display=swap" rel="stylesheet">
</head>
<body>

<table width="100%">
    <tr>
        <th width="10%"><img src="../images/logo.png"></th>
        <th colspan="2"><img src="../images/banner.png"></th>
    </tr>
    <tr>
        <td class="nav" colspan="3">
            <div class="navbar">
                <a href="index.html">Home</a>
                <a href="clients.html">Clients</a>
                <a href="employees.html">Employees</a>
                <a href="appointment.html">Make an Appointment</a>
                <div class="dropdown">
                    <button class="dropbtn">Services
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="services-business.html">Business</a>
                        <a href="services-education.html">Education</a>
                        <a href="services-IT.html">IT</a>
                        <a href="services-tourism.html">Tourism</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td><img src="../images/World-Flags-Globe.png"></td>
        <td>
            <h1>Tourism</h1>
            <p>
                Quisque eleifend duis vestibulum est pellentesque nulla nascetur ligula et elementum aliquam. Tempus laoreet id consequat justo dictum placerat ante vivamus ante. Class lobortis egestas vitae nulla malesuada blandit eget vitae nisl class rhoncus nam. Risus arcu euismod montes sem vulputate amet molestie eros ipsum, senectus lacinia volutpat. Turpis elementum ipsum mauris est per, nullam nam cum curabitur lacus non. Nulla maecenas ridiculus parturient non.
            </p>
            <p>
                Fringilla augue, odio scelerisque condimentum ligula porttitor euismod vivamus pellentesque lorem dui parturient. Euismod ultricies donec lectus convallis diam ornare dignissim. Ultrices ut hac porta habitasse per velit eleifend metus rutrum enim egestas cum. Suspendisse eleifend fermentum leo lorem suspendisse metus diam! At a consequat adipiscing per sapien tincidunt massa enim condimentum tellus. Torquent fames, dapibus commodo dis habitasse gravida nam senectus condimentum risus vulputate eros. Porta sit ad sociis vulputate sem. Cubilia sed mollis suspendisse. Aptent viverra mauris dignissim mi.
            </p>
            <p>
                In torquent natoque quis pellentesque. Ut tristique nisi ligula accumsan potenti eros mi hac placerat. Est enim auctor egestas nostra a donec venenatis fames elementum amet laoreet vestibulum! Suspendisse justo pellentesque, quam orci suscipit molestie iaculis lorem imperdiet. Pharetra litora nibh magna laoreet est id luctus consectetur placerat metus lectus. Bibendum hendrerit lobortis dapibus ad enim faucibus. Ultrices odio dignissim dui! Integer, lacinia vel risus. Eget vehicula volutpat ut maecenas sem donec nec. Tincidunt viverra lorem nisi scelerisque libero adipiscing fames porttitor in porttitor? Sociosqu ipsum.
            </p>
            <p>
                Natoque potenti penatibus suspendisse. Curabitur malesuada dapibus etiam sapien dui euismod ad sodales porta integer. Vel nec tortor adipiscing elementum lacus ligula curae;. Aptent volutpat vitae cubilia diam, sapien congue fames lobortis nostra? Luctus iaculis mollis dolor dictumst. Sem lacus urna vitae eros parturient ullamcorper mattis vestibulum netus interdum facilisi. Etiam aliquam interdum integer. Molestie, neque natoque vivamus. Congue elit.
            </p>
            <p>
                Vestibulum porta gravida aptent quisque elit hac. Eget mattis duis libero augue habitant sociosqu orci. Aliquet sapien tempus vitae suspendisse elit augue natoque! Duis ultrices pretium platea, lorem nulla porta sollicitudin lacinia nostra. Montes potenti, mattis penatibus hac hendrerit nam condimentum nam. Vitae suspendisse himenaeos faucibus. Vel ultrices dolor metus viverra leo consequat nisl cum. Interdum mus nisl magna facilisi nisi odio lectus mus ad posuere! Adipiscing tempus dolor hac proin; euismod ultrices dolor torquent posuere! Iaculis taciti.
            </p>

        </td>
        <td>
            <img src="../images/passport.png">
        </td>

    </tr>
</table>

<footer>
    Copyright ©2020
</footer>

</body>
</html>